@import "tailwindcss";

:root {
  --background: #fbfaff;
  --foreground: #191a23;
}
@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Brand Colors */
  --color-lavender: #b592ff;
  --color-lavender-20: #f7f2ff;
  --color-carnation: #fda5d6;
  --color-minion: #ffe76c;
  --color-smith: #a8eb9e;
  --color-dark: #191a23;

  /* Font Families */
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
